@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lato:wght@300&family=Oswald&display=swap');            

*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;  
}

body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gameBoard {
    overflow: hidden;
    position: relative;
    background: linear-gradient(#87CEEB, #E0F6FF);  
}

.ground {
  --left: 0;
  --bottom: 6;
  position:absolute;
  width: 100%;
  bottom: 50px;
  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);   
}

footer {
  font-family: 'DotGothic16', sans-serif;
  position:absolute;
  width: 100%;
  height: 6%;
  background-image: url('./assets/images/groundfooter.png'); 
  --bottom: 0;
  bottom: calc(var(--bottom) * 1%);
}

footer p {
  font-family: 'DotGothic16', sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  font-size: calc(.3em + 1vw);

}

h4 {
  position: absolute;
  right: 10vmin;
  font-size: 2vmin;
  top:1vmin;
}

.score{
    position:absolute;
    font-size: 3vmin;
    right: 2vmin;
    top:3vmin;
    
}

.restart-screen {
  font-family: 'DotGothic16', sans-serif;
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.hide {
  display:none
}

/*images*/
.mario {
    --bottom: 6.5;
    position: absolute;
    left: 1%;
    height: 13%;
    bottom: calc(var(--bottom) * 1%);   
}

.pipe {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 13%;
    --bottom: 6.5; 
    bottom: calc(var(--bottom) * 1%); 
}

.cloud {
    margin-top: 70px;
    height: 30%;
    position: absolute;
    left: calc(var(--left) * 1%);
    right: 100px;
}


/* How to playe button and modal for instructions */
.info-button {
  background-color: #2550d2;
  color: white;
  margin-top: 30px;
  margin-left: 30px;
}

.info-button:hover{
  background-color: #c89858;
}

.modal {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #111111bd ;
  display: flex;
  opacity:0;
  pointer-events: none;
}

.modal.show  {
  opacity: 1;
  pointer-events: auto;
}

.modal_container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display:grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal_title{
  font-size: 2.5rem;
}

.modal_paragraph{
  margin-bottom: 10px;
  font-family: 'DotGothic16', sans-serif;
}

.modal_img{
  width: 90%;
  max-width: 200px;
}

.modal_close{
  font-family: 'DotGothic16', sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #87CEEB;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 1s;
}

.modal_close:hover{
  color: #87CEEB;
  background-color: #fff;
}



